html,.background{
	height = 100%;
	background-color: #474747;
	}
.bodytext{
	color: #FFFFFF; /*font color */
	text-align: center;
	margin: auto;
	float: right;
	width: 75%;
	height: 75%;
	position: relative;
	overflow: auto;
}
.titletext{
	height = 25%;
	color: #0080FF;
	text-align: center;
}
.sidebar{
	color: #2ada0c;
	float: left;
	width: 25%;
}
.bodytext .sender{
	text-align: left;
}
.bodytext .receiver{
	text-align: right;
	color: #6699FF;
}

.alert{
	padding: 20px;
	background-color: #2196F3;
	color: white;
	margin-bottom: 15px;
}
.closebtn{
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.closebtn:hover {
	color: black;
}

a{
	color: inherit;
}
a:hover{
	color: #00A0C6;
}
b{
	color: #cc0000;
}
b:hover{
	color: #00A0C6;
}
.chatbox{
	position: fixed;
	bottom: 0;
	right: 0;
	color: #FFFFFF;
}
@media screen and (max-width: 600px) {
	.sidebar, .bodytext {
		width: 100%;
	}
}
