html,.background{
	height = 100%;
	background-color: #474747;
	}
.bodytext{
	color: #FFFFFF; /*font color */
	text-align: center;
	float: right;
	width: 75%
}
.titletext{
	height = 25%;
	color: #0080FF;
	text-align: center;
}
.sidebar{
	color: #2ada0c;
	float: left;
	width: 25%;
}
a{
	color: inherit;
}
a:hover{
	color: #00A0C6;
}
.chatbox{
	position: absolute;
	bottom: 0;
	right: 500;
}
@media screen and (max-width: 600px) {
	.sidebar, .bodytext {
		width: 100%;
	}
}
